@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Liter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Styles généraux */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #1e0046;
    color: #fff;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem 5rem;
}

/* header h1 {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue,green, yellow, orange, red);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s infinite linear;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
} */

/* meme principe mais c'est sa transform */
header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    animation: scaleAnimation 3s infinite ease-in-out;
    display: inline-block;
}
@keyframes scaleAnimation {
    0%, 100% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(1.1) rotate(2deg); }
}

/* Conteneur principal */
#app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Zone principale de chat */
#main-container {
    display: flex;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}

/* Zone de chat */
#chat-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 1rem;
    overflow-y: auto;
    /* J'ai viré ça ça foutait la merde sur la hauteur */
    /*height: calc(100vh - 200px);  Ajuste la hauteur pour laisser de l'espace pour la barre d'entrée */
}

/* Conteneur des messages */
#messages-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 1px solid #ffffff30;
    overflow-y: auto;
}

/* Zone des utilisateurs */
#users-container {
    width: 17rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 8px;
    overflow-y: auto;
}
#users-container i{
    padding-right: 0.5rem;
}

i{
    color: #7000cc;
}

#users-container h2 {
    margin-top: 0;
    color: #fff;
    font-size: 1.2rem;
}

#user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#user-list li {
    color: #fff;
    font-size: 1rem;
    border-bottom: 1px solid #ffffff30;
    padding: 0.5rem 0;
}

/* Zone d'entrée de message */
#input-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 2px solid #ffffff30;
}
#input-container input[type="text"] {
    outline: none;
    background: #ffffff00;
    font-family: poppins, sans-serif;
    border: 2px solid #7000cc;

}
#input-container input[type="text"]:focus {
    border: 2px solid #5b00a5;
    transition: ease 0.3s;
}


#message-input {
    flex: 1;
    padding: 0.6rem;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 0.9rem;
}


#send-button, #messageForm button[type="submit"]  {
    padding: 0.6rem 1rem;
    margin-left: 0.8rem;
    background-color: #7000cc;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: poppins, sans-serif;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #5b00a5;
}

/*⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣤⣤⣤⣤⣶⣶⣶⣶⣶⣶⣶⣦⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣴⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠿⠿⠿⣿⣿⣷⣶⣶⣤⣤⣄⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣾⣿⢿⡿⠛⢋⣩⣽⠿⠿⠛⠛⢛⣛⣉⣉⣙⣛⣓⣒⠒⠠⠀⢀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣤⣤⣤⣤⣤⣤⣤⣀⣀⣀⠀⠀⠀⢀⣀⠻⢿⣿⣿⣿⣿⣿⣶⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⡿⣿⡿⣿⠟⠁⣠⠞⠋⢁⣠⣴⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣒⡂⠒⠢⠤⣤⣀⣀⣀⣀⣀⠀⣀⠀⢀⣀⣠⣤⣴⠾⠟⠛⣛⣉⣉⣩⣭⣤⣭⠉⠉⠛⠻⢿⣿⣓⠲⠤⠀⡉⠑⠻⣿⣿⣿⣿⣿⣿⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⡿⢋⣼⣧⢤⠊⠀⡠⠞⠛⠋⠉⠁⢀⣀⣀⣀⣀⣀⠀⠀⠉⠙⠓⠾⢭⣝⣛⠶⣦⣄⣠⣭⠽⣛⣿⠿⣿⣛⣫⡽⢛⣭⢔⣠⠴⠾⠟⠿⠿⠶⣤⣬⣭⣝⣓⡦⢄⠂⢤⡉⠛⠶⣄⠀⠰⣄⠀⠹⣯⠽⣿⣿⣿⣮⣽⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⡿⢁⣼⣿⣴⠞⠑⠁⠀⡀⠤⠒⢋⣩⣽⣿⣿⣿⣿⣹⣻⣿⣶⣦⣄⠐⠢⢤⣍⣙⠓⠮⣍⡓⠄⣐⡾⠿⢻⣿⣥⠞⣫⡶⢟⣡⣴⣶⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣶⣄⣙⠳⣦⡀⠑⠄⠹⣷⣤⡛⠑⣄⢻⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣱⡟⣽⣿⡟⣜⠀⢀⣞⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⡉⠙⠻⠿⢶⣾⣬⣅⣀⣤⣞⢋⣥⠞⠋⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣮⣿⣷⣄⠠⡘⣿⣷⠀⣘⣷⣿⣿⡿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⡿⣿⣿⣱⢃⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣖⣛⣿⠛⠾⣍⠉⢀⣔⣽⣣⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠈⢷⡀⢈⢿⣿⣻⢳⣽⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣿⣿⣿⣿⣿⡟⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣭⣿⣓⣶⣼⡏⣿⢏⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⣿⣧⢢⡹⣿⣿⡆⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⣿⣿⣿⣿⡟⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏⣹⡿⢷⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣇⠹⣿⣇⢸⡟⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⣯⣴⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣷⣿⣹⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢳⣿⣿⣾⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢀⣲⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⣶⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢻⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⢸⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣰⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⢟⣯⣭⣝⣚⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣮⣵⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀
⠀⠀⠀⠀⣴⣿⣿⣿⡿⠛⣡⡴⠛⣩⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠗⣻⠷⣿⠀⠤⠤⢍⡛⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣸⣿⣿⣉⡉⢻⣿⣿⣿⣿⣿⣧⡀⠀⠀⠀
⠀⠀⠀⣾⣿⢫⡾⢁⣴⣟⣁⣀⣰⠷⠛⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⡿⠉⠁⠀⠀⠀⠀⠰⡀⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⠿⣿⡿⣟⡛⠿⣧⠻⣷⣮⡙⢿⣿⣇⠀⠀⠀
⠀⠀⣼⣿⣷⣫⣶⠟⣹⠟⢛⣿⡿⣾⣓⣶⣄⣈⣿⠿⣝⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⢿⢿⣿⢃⠀⠀⠀⠀⠀⠀⢀⣿⣿⣷⢸⠷⣽⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠉⠀⠉⢁⣀⣈⣀⡀⠀⠙⠂⠈⢷⡘⢿⣷⡌⢿⣿⡄⠀⠀
⠀⢸⣿⣿⣿⡿⠁⣼⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⡿⣦⣝⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⠀⢘⠊⠃⠁⠀⠀⠀⠀⠀⢸⣼⣟⠇⠀⠀⠀⠉⠻⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠩⢴⣶⡶⣶⣟⣿⣿⣿⣿⣿⣿⣷⣤⣄⠀⠀⠻⣄⠻⣿⠈⣿⣿⡆⠀
⠀⣿⣿⣿⣿⠂⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⣻⡏⠀⣀⣀⠀⠀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡉⠀⠀⠀⠀⠀⠀⢿⡯⢿⣿⣿⣿⣿⣿⣿⣿⠿⠟⠋⢀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠘⣧⠙⣧⠸⣿⣷⠀
⠀⣿⡿⣿⠏⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⣉⠛⠿⣿⡿⢿⣿⡿⠿⣋⣩⣵⣶⡿⣇⡈⠿⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣧⣠⣾⣿⣿⡷⢀⡼⠳⢤⣼⣿⣋⣉⣉⣁⣤⣤⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠘⣧⠹⣇⣿⣿⠀
⠀⣿⡇⣿⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣬⣩⣭⣥⣤⣬⣭⣽⣿⣯⣤⣌⡙⠛⠛⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⣹⣿⣿⣿⠟⠁⣀⣤⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⢿⣿⡿⢿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠸⡇⢿⣼⣿⡀
⠠⢿⡇⡿⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⣼⠙⣹⠫⠿⣿⣻⢿⡿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣾⣿⣿⣿⣿⣏⠓⠦⣄⣀⣀⡤⣶⣤⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⡿⡟⣿⣿⠿⣿⣿⢿⡇⢻⡟⠈⣿⣙⣹⡇⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⣿⢸⣿⣿⡇
⠀⣾⣿⣷⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣷⢿⠤⣤⡏⠁⣿⠁⣾⠁⢫⢿⣿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⣤⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⠙⠃⠹⣷⠀⢿⡏⠀⣷⣠⣷⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⢸⣾⢹⣿⠃
⠀⢀⣿⣿⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣧⣮⣜⡏⣰⣦⣿⣀⡇⠀⠃⡿⠋⠈⡼⣿⡿⢡⢳⢹⣿⣿⣿⣿⡿⠹⠉⠿⡏⣿⣿⣿⣿⣿⡿⡿⠃⠀⠈⠻⣿⣿⢿⠿⠋⠃⠈⠓⢹⡄⠀⠀⢻⠀⠸⡇⣠⣿⠿⣿⣿⣾⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⢸⡇⣼⣿⠀
⠀⠀⠻⣿⣧⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣧⣿⣿⣷⣤⣸⠁⠀⠀⠁⣿⠁⠀⠘⢸⣿⣿⠛⠹⠀⠀⠀⠀⠀⠈⠧⢻⣿⠛⠀⠃⠀⠀⠀⠀⠛⢻⡎⠀⠀⠀⠀⠀⠸⡇⠀⠀⢸⠇⣠⣿⣿⣿⣷⠻⣮⣉⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⢸⣇⣿⡟⠀
⠀⠀⠀⢻⣿⡆⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣼⣿⣿⣿⣿⣿⡿⣿⣿⣿⣷⣄⠀⢀⡟⠀⠀⠁⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⡇⠀⠀⢸⣿⣿⣿⣯⣱⣆⣣⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⡾⣸⣿⠇⠀
⠀⠀⠀⠈⠛⣿⡄⠀⠘⡟⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣏⣿⣿⠿⣿⢷⣤⣧⠀⠀⠀⠀⠸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⠀⠀⣀⣀⣀⣀⣇⣠⣴⠿⢻⢱⠀⡘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢃⣾⠃⣿⡟⠀⠀
⠀⠀⠀⠀⠀⠀⠙⢦⣀⠸⡄⠟⣇⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣰⠁⣘⡟⣿⣷⣶⣦⣤⣴⣧⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣿⣤⣴⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⠻⡟⣿⢛⠛⡏⢻⣤⣼⣾⣷⣿⣿⣿⣿⣿⣿⣿⣧⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⣰⠏⠈⣼⠇⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠉⠳⢽⣧⣽⣦⡹⣿⣌⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣧⣣⣿⢹⣿⢋⣿⢻⢿⣿⠿⢹⠙⡏⣿⠛⡏⠟⡏⡍⡏⡏⢫⢹⠈⢹⠰⠸⠀⢹⣧⠃⣷⣼⣾⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢿⣿⣿⣿⣿⠟⠁⣠⡟⠀⣴⠏⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⣿⣷⡈⠉⠛⢶⣿⣿⣿⡿⣿⣿⣿⣿⣯⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣼⣿⣼⣾⣿⣸⣸⡆⣷⣸⡀⡇⡆⡇⣡⣧⣇⢸⣸⢸⢸⣆⣶⣷⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⠏⣠⣿⣿⣿⡿⡃⢀⣴⠟⣀⠜⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠩⠻⣿⡌⠶⣄⠈⠛⢯⡿⣿⣿⣿⣿⣿⣿⣿⢿⣿⢿⣿⣿⡇⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣿⣧⣿⣿⣿⣿⣿⡟⣠⣿⣿⡿⣻⣟⣰⣿⣯⡾⠃⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢌⣿⣶⣌⠳⣦⣀⠉⠊⠛⢿⡿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣾⣿⠋⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⠟⣿⠉⣿⣿⣿⣿⣿⡟⡇⢹⣸⣾⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣵⣿⣿⣿⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢻⢻⢿⣶⣽⣷⣦⣀⠑⢷⣌⠙⢿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣶⣿⣿⣿⡟⡏⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⡟⡿⠉⢋⠈⢀⢸⣦⣿⣿⡿⣿⡿⢀⣿⣿⣿⣿⣿⣿⣿⡿⣿⢿⣵⡿⣱⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢧⠙⢻⣿⣿⣿⢷⣄⡙⢧⣄⠈⠻⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣇⡇⣯⡁⠈⣏⡇⢿⢸⠁⢹⠉⣿⡇⣿⡏⡟⡏⡏⡏⣷⠁⠀⡇⡄⢠⣸⣿⡿⢿⢣⣿⣷⣿⣿⣿⣿⣿⣿⣿⡿⠟⢁⠞⣡⣾⣿⣿⣿⣿⢯⣾⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣦⣀⠻⣿⣿⣟⣿⣦⠙⣦⡀⠈⢿⣽⠻⣿⣿⣿⣿⣿⣯⡹⣿⢻⣿⣿⣧⣿⣇⢸⠀⠀⠸⠀⢹⠃⢸⡇⣇⡇⡇⠁⣿⢸⣀⣷⣼⣿⣿⣿⡴⢟⣵⣿⣿⣿⣿⣿⡿⠋⠉⠁⣠⡴⠋⣴⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠈⠻⣄⠘⣿⣿⣿⣿⣷⡈⣷⠀⠀⢻⣇⢸⡻⢿⣿⣿⣿⣿⣿⣧⣽⣟⣿⣿⣿⣿⣿⣧⣴⣶⣾⣴⣦⣿⣿⣷⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣽⠋⠀⢠⣴⠛⠁⢀⣾⣿⣿⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠌⡢⠈⢻⣻⣿⣞⣷⡘⣧⠀⠀⢿⣎⣧⠀⣿⠛⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⣿⠛⠛⠛⠉⡟⠛⡏⢉⣿⠃⢀⣼⠟⠋⠀⣠⡾⠟⣹⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣧⡀⠙⢟⣿⣿⣧⠹⣇⠀⠈⢿⣿⣆⢻⡀⠀⢀⣷⠀⠀⠹⡇⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠁⢸⡇⠀⠀⡯⠀⠀⠀⣸⡇⣼⢡⣾⠃⠰⠋⠀⠀⣠⡾⠋⢀⣾⣿⣿⣿⡿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢝⢦⡀⠉⠻⣿⣇⢻⡆⠀⠈⢿⣿⣿⣇⣃⢸⣿⡇⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⢺⠀⠀⠀⠀⠀⠀⠀⢸⠁⠀⢀⡇⠀⠀⢠⡏⣴⣿⡾⢁⠄⠀⠀⣠⣾⡏⠀⣰⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢧⠹⣖⣆⠈⢻⣬⣿⡆⠀⠈⢿⣿⣿⣿⣾⣿⣷⠀⠀⣿⡄⠀⠀⠀⠀⠀⢠⣾⢇⠀⠀⠀⠀⠀⠀⣼⠀⠀⣸⣿⢀⢸⣿⣿⣿⡟⢀⡎⠀⣠⣾⣿⠏⢀⣾⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣺⣧⠈⠺⣧⠀⠙⢿⢿⡄⠀⠈⢿⣿⣿⣿⣿⣿⡆⠀⣿⣷⠀⠀⠀⠀⡆⣼⣿⡆⣦⡀⠀⠀⠀⢀⣿⡆⠀⣿⣿⣮⣿⣿⣿⠏⢠⡾⠀⢠⣿⡿⠃⣰⣿⡿⣻⡿⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢶⣿⣿⣇⠀⠘⡆⠀⠈⢫⣷⠀⠀⠈⢿⣿⣿⣿⣿⣷⣸⣿⣿⣞⡀⠀⡀⣧⣿⣿⣧⣻⣷⣷⣰⡁⢸⣿⣇⣾⣿⣿⣿⣿⣿⠃⢠⣿⠃⣠⣿⠟⠀⣰⡿⢋⣴⣟⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⠿⠿⡄⠀⠘⡄⠈⣦⢻⡇⠀⠀⠈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣾⣿⣿⣿⣿⣿⣿⣿⠇⢀⣾⠎⣴⡿⠃⠀⢀⣾⣶⣿⣿⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠄⠘⢄⠈⢷⣿⣆⠀⠀⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⣼⢏⣼⡟⠁⠀⣰⣿⣿⢿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠰⡀⠀⠣⡈⢳⡿⣷⣄⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⢁⡾⢃⣾⡟⠀⠀⣴⣿⡟⢡⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠣⠀⠀⠈⢄⠹⣏⠻⣷⣄⠀⠈⠻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠉⣰⡿⢡⣾⢿⠁⠀⣼⣿⠏⣰⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠡⡀⠀⠀⠱⡘⢧⡈⠿⣷⠀⠀⠀⠀⠉⠙⠻⠿⠿⠟⠛⠛⠛⠛⠛⠛⠛⠛⠋⠉⠁⠀⢀⡴⠏⢠⣿⣷⠃⠀⣼⣿⠏⡰⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣦⡀⠀⠈⢈⢳⡀⠙⠳⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣤⠶⠋⠀⢰⣿⡿⠃⠀⣸⣿⠏⡠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣦⠀⠀⠀⠑⠄⠀⠈⠙⠻⠷⠶⠦⠤⠶⠶⠒⠛⠛⠛⠛⠋⠉⠉⠉⠁⠀⠀⣠⠶⠿⠋⠀⠀⣰⡟⠋⠠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣷⡕⠀⠀⠀⠄⠁⠢⠤⣤⣤⣀⣀⣀⣤⣤⣤⣶⣶⣶⣶⣶⣶⠾⠶⢞⡿⠟⠁⠀⠀⠀⠀⢰⡿⢀⠔⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣦⠀⠀⠀⠀⢀⣀⢀⠙⣿⣿⣿⣯⣷⣾⣿⣿⣿⣿⠿⢋⡼⠞⠉⠀⠀⠀⠀⠀⠀⢠⡿⣵⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⣿⣿⣷⡄⠀⠀⠀⠀⠈⠉⠉⠛⠛⠛⠻⠿⠿⠟⠋⠀⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣷⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠹⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⣿⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣿⣿⡿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣶⣦⣤⣤⣀⣀⣀⣀⣀⣀⣀⣀⣤⣶⣿⣿⠿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⢿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠟⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀*/

/* Messages envoyés */
.own-message {
    background-color: #0066cc;
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    max-width: 80%;
    align-self: flex-end;
}

.other-message {
    background-color: #2a75bbb2;
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    max-width: 80%;
    align-self: flex-start;
}

#messageForm{
    padding: 1rem;
}
#messageInput input[type="text"] {
    font-family: poppins, sans-serif;
}

#messageForm input[type="text"] {
    padding: 0.3rem;
    margin-right: 1rem;
    margin-left: 0.2rem;
    border: none;
    border-radius: 3px;
    font-family: poppins, sans-serif;
    background-color: #ffffff00;
    color: #fff;
    border: #7000cc solid 2px;

}
#messageForm input[type="text"]:focus {
    outline: none;
    border: #5b00a5 solid 2px;
    transition: ease 0.1s;
}


/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    color: #fff;
    margin-top: auto;
}
